<!-- This is new for: sessions -->
<% provide(:title, "Login") %>
<div class="row justify-content-md-center", style="margin-top: 5em;">
    <div class="col-5">
        <img src="/assets/login-image.jpg" style="width: 100%;">
    </div>
    <div class="col-5">
        <h1 class="text-center mt-4">Login</h1>
        <%= form_with(url: sessions_path, scope: :session, local: true) do |f| %>
            <!-- scope: sessionはsession controllerで受け取るため？ -->
            <div class="my-3">
                <%= f.email_field :email, class: "form-control", placeholder: "Email" %>
            </div>
            <div class="mb-3">
                <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
            </div>
            <%= f.submit "Login", class: "btn w-100 yellow-btn" %>
        <% end %>
    </div>
</div>