<!-- This is new for: admin_words -->
<% provide(:title, "Add word & choices") %>

<div class="row mt-5 justify-content-md-center">
    <div class="col-6">
        <h1 class="text-center mb-4">Add new word & choices</h1>
        <%= render "form", btn_msg: "Add" %>
    </div>
</div>