<!-- This is edit for: users -->
<% provide(:title, "Edit Profile") %>

<div class="row mt-5 justify-content-md-center">
    <div class="col-6">
        <h1 class="text-center mb-4">Edit profile</h1>
        <%= render "form", btn_msg: "Update" %>
    </div>
</div>