<% provide(:title, "Members") %>
<div class="form content">
    <div class="card" style="width: 40rem;">
        <div class="card-header">
            Members
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Actions</th>
                    </tr>
                <thead>
                <tbody>
                    <% @users.each do |user| %>
                        <tr>
                            <td> 
                                <%= gravatar_for user, size: 52 %>
                                <%= link_to user.name, user %> 
                            </td>
                            <td> 
                                <%= link_to "delete", user_path(user), method: :delete, data: {confirm: "Are you sure?"}, class: "text-danger" %> 
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>