<!-- This is new for: users -->
<% provide(:title, "Signup") %>
<div class="row justify-content-md-center align-items-center", style="margin-top: 5em;">
    <div class="col-5">
        <img src="/assets/signup-image.jpg" style="width: 100%;">
    </div>
    <div class="col-5">
        <h1 class="text-center mt-4">Signup</h1>
        <%= render "form", btn_msg: "Signup" %>
    </div>
</div>