<!-- This is new for: answers -->
<div class="row">
    <div class="col-4 mx-auto">
        <div class="mb-3">
            <% @words.each do |word| %>
                <% provide(:title, "Answering #{word.content}") %>
                <h1 class="text-center mt-4"> <%= word.content %> </h1>
                <% word.choices.each do |choice| %>
                    <%= link_to choice.content, lesson_answers_path(choice_id: choice.id, word_id: word.id, lesson_id: @lesson.id, page: @words.next_page), method: :post, class: "pagination" %>
                <% end %>
            <% end %>
            <% will_paginate @words %>
        </div>
    </div>
</div>