<!-- This is new for: answers -->
<% provide(:title, "Answering...")  %>

<div class="row mt-5 justify-content-md-center">
    <div class="col-6">
        <% @words.each do |word| %>
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center"> <%= word.content %> </h2>
                </div>
                <div class="card-body">
                    <div class="row my-auto justify-content-md-center">
                        <% word.choices.each do |choice| %>
                            <div class="col-8 text-center mb-3">
                                <%= 
                                    link_to choice.content,
                                    lesson_answers_path(
                                        choice_id: choice.id,
                                        word_id: word.id,
                                        lesson_id: @lesson.id,
                                        user_id: current_user.id,
                                        page: @words.next_page),
                                    method: :post, class: "btn yellow-btn" 
                                %>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>        
        <% end %>
    </div>
</div>