<% provide(:title, "About us") %>
<div class="row mt-5 justify-content-md-center">
    <div class="col-9 text-center">
        <h1 class="display-4">About Us</h1>
        <p class="lead">Learning is key to freedom.</p>
        <p>
            This is a sample application where you can create lessons to learn new vocabularies.<br>
            Use the information below to login as the administrator and see all features.<br>
            <br>
            このサイトは単語勉強を目的としたeラーニングのサンプルアプリケーションです。<br>
            全ての機能を使用するには、以下の情報を使ってログインしてください。<br>
        </p>
        <p>
            ・Email: admin@email.com<br>
            ・Password: password
        </p>
    </div>
</div>  