<% provide(:title, "About us") %>
<div class="row py-4 my-auto justify-content-md-center">
    <div class="col-9 text-center">
        <h1 class="display-4">About Us</h1>
        <p class="lead">Learning is key to freedom.</p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam suscipit urna magna, non sollicitudin neque tincidunt eu. Sed dapibus neque eget leo ornare, ut auctor mauris sodales. Aliquam a lectus hendrerit, luctus dolor sed, varius risus. Quisque tempor euismod est, a pretium ex. Duis id ultricies urna. Donec tristique ut elit eget euismod. Aliquam ornare ex et ex porttitor volutpat. Vestibulum id dui venenatis, interdum nisl sit amet, pulvinar tortor. Fusce vel porta nisl. Nulla facilisi. Vivamus fermentum volutpat feugiat. Aenean nulla felis, fringilla sit amet vestibulum vitae, lacinia vel augue. Curabitur facilisis dolor quis dui tincidunt, non aliquam mi pharetra. Fusce lobortis leo et neque dapibus dapibus. Donec porta velit mattis mauris pellentesque pretium.
            <br>
            <br>
            Nam vestibulum varius metus vel aliquet. Vivamus sapien ipsum, feugiat sit amet magna quis, vestibulum ornare felis. Integer congue ligula sed purus sodales, ut volutpat ante aliquet. Sed pellentesque pretium egestas. Aliquam justo enim, tincidunt eget eleifend a, imperdiet ac arcu. Morbi finibus erat suscipit velit lacinia, sed dignissim lectus faucibus. Phasellus euismod vehicula nisi, in tempus libero mattis vel. Quisque vehicula dapibus maximus.
        </p>
    </div>
</div>