<!-- This is edit for: admin_categories -->
<% provide(:title, "Edit lesson") %>

<div class="row mt-5 justify-content-md-center">
    <div class="col-6">
        <h1 class="text-center mb-4">Edit lesson information</h1>
        <%= render "form", btn_msg: "Update" %>
    </div>
</div>