<!-- This is new for: admin_categories -->
<% provide(:title, "New lesson") %>

<div class="py-4">
    <h2 class="text-center">Create new lesson</h2>
    <%= render "form", btn_msg: "Create" %>
</div>