<!-- This is edit for: categories -->
<% provide(:title, "Edit Lesson") %>

<div class="py-4">
    <h2 class="text-center">Edit lesson information</h2>
    <%= render "form", btn_msg: "Update" %>
</div>