<!-- This is show for: categories -->
<% provide(:title, @category.title)  %>
<div class="form content">
    <div class="card" style="width: 40rem;">
        <div class="card-header">
            Manage words
        </div>
        <div class="card-body">
            <table class="table">
                <tr>
                    Add new word (function to be added)
                </tr>
                <br>
                <tr>
                    <%= @category.title %>
                </tr>
                <thead>
                    <tr>
                        <th scope="col">Word</th>
                        <th scope="col">Answer</th>
                        <th scope="col">Actions</th>
                    </tr>
                <thead>
                <tbody>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>